@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

#root {
  /* max-width: 1280px; */
  width: 100%; /*Novo*/
  margin: 0 auto;
  /* padding: 2rem; ->Uzrokuje footer da ima razmak od poda */
  text-align: center;
}
